@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding-top:70px;
    font-size:1rem;
}

h3 {
    font-size: 22px;
    text-decoration: underline;
}
h1, h2, h3 {
    color: #032F62;
}

.mainContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

blockquote {
    font-style: italic;
}

.centered {
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    display:block;
}

.card {
    margin-bottom:20px;
}

.row {
    margin-top: 20px;
}

img {
    max-width: 100%;
    margin:10px auto 20px auto;
}

.code {
    min-width:30%;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    display:block;
    font-size:16px;
    margin-bottom:20px;
    border:1px solid #ccc;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.15);
    padding:10px;
    text-align: left;
}

iframe {
    margin: 20px 0;
    border:2px solid #6D426D;
    max-height:60vh;
}

em {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-style: initial;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 3px;
}

.topImg{
    margin-top:40px;
}

.navbar-dark {
    background-color: #032F62 !important;
}


img.buildImg {
    max-width: 400px;
    margin-left:auto;
    margin-right: auto;
    left:0;
    right:0;
    display: block;
}

.mainContainer a {
    color: #28A745 !important;
}

.no-bullet {
    list-style: none;
}

.navBottom {
    color:white;
}

pre {
    margin: 20px auto;
    color:white;
    background-color: #24292E;
    overflow-y: scroll ;
}
